{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "SearchClient": {
    "endpoint": "https://<AI search instance name>.search.windows.net",
    "indexName": "<AI search index name>",
    "semanticConfigName": "<AI search semantic config name>",
    "vectorFieldName": "<Description vector field name>",
    "nearestNeighbours": 3,
    "credential": {
      "key": "<AI search key>"
    }
  },
  "ConnectionStrings": {
    "OpenAI": "Endpoint=https://<OpenAI instance nme>.api.cognitive.microsoft.com/;Key=<AI search instance key>"
  },
  "OpenAI": {
    "embeddingClientName": "<text embedding deployment name>",
    "model": "<chat gpt deployment name>",
    "gpt4Key": "chat gpt deployment key",
    "systemPromptFileName": "query.txt"
  }
}